.header {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.header > .logo {
    border: 1px solid red;

    flex: 2;
    cursor: pointer;
}

.header > .logo > a > img {
    opacity: 0;
}


.header > .menu {
    border: 1px solid red;

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
}

.header > .menu > li {
    margin: 0px 5px 5px 0px;
    /* cursor: pointer; */
}


.modal-content {
    width: 600px;
    max-width: 80%;
}