

    .tile{

        align-items: center;

    }

    .tile.is-ancestor {

        width: 70%;
        height: 100%;

        margin: 5px auto;

    }

    .search_ba{
        margin: auto;
        padding: 15px;
        max-width: 600px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
    .tile.is-child.notification {
        border-radius: 5%;
        background: linear-gradient(90deg, ghostwhite 0%, gainsboro 100%);
    }
    .search_ba > button{
        margin-left:10px;
    }

    .comment {
        margin: 15px auto;
    }

    .container.is-max-desktop {
        margin-bottom: 15px;
    }

    #review_commentbox {
        width: 500px;
        margin-bottom: 1.2rem;
    }

    .hidden{
        display: none;
    }

