* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrap {
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        min-height: 100vh;
        padding-bottom: 50px;
    }

    .tile{

        align-items: center;

    }

    .tile.is-ancestor {

        width: 70%;
        height: 100%;

        margin: 5px auto;

    }

    .search_ba{
        margin: auto;
        padding: 15px;
        max-width: 600px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }

    .search_ba > button{
        margin-left:10px;
    }

    .comment {
        margin: 15px auto;
    }

    .container.is-max-desktop {
        margin-bottom: 15px;
    }

    #review_commentbox {
        width: 500px;
    }

    .hidden{
        display: none;
    }

