*   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.wrap{

    border: 5px solid red;
    margin: 10px auto;
    padding: 10px;

    max-width: 100vw;
}

.tile.is-ancestor {
    border: 10px solid blue;
    margin: 20px auto;

    display: flex;
    flex-flow: row wrap;

}
.tile is-parent{
    max-width: 260px;
    max-height: 300px;
}

.tile.is-child.box {
    width: 240px;
    height: 285px;
}

.tile.is-child.box > a > img{
    width: 100%;
    height: 100%;
    opacity: 1;
}



.tile.is-child.box > p{
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}



