.container {
    /* border: 1px solid red; */
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1080px;
}

.divide-line {
    background-color: rgb(165, 165, 165);
}

.divide-line.vertical {
    width: 2px;
    margin-bottom: 10px;
}

.divide-line.horizontal {
    height: 2px;
}

.upper-wrapper {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upper-wrapper > .profile {
    /* border: 1px solid red; */
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 360px;
    padding: 10px;
    margin: 10px;

    background-color: antiquewhite;
}

.upper-wrapper > .profile > .my-image {
    /* border: 1px solid red; */

    max-width: 720px;
}

.upper-wrapper > .profile > a {
    margin-top: 10px;
}

.upper-wrapper > .profile > button {
    margin-top: 10px;
}


.upper-wrapper > .my-reviews {
    /* border: 1px solid red; */

    width: 95%;
    max-width: 900px;
    padding: 0px 10px 10px 10px;
}

.upper-wrapper > .my-reviews > h1 {
    /* border: 1px solid red; */

    margin: 20% 0px 20% 0px;
    text-align: center;
    font-size: 2em;
}

.upper-wrapper > .my-reviews > .my-review-card {
    /* border: 1px solid red; */

    box-shadow: 1px 1px 3px rgb(0, 0, 0);

    max-height: 150px;
    padding: 5px;
    padding-left: 15px;
    margin-top: 10px;
}

.upper-wrapper > .my-reviews > .my-review-card > .card-title {
    /* border: 1px solid red; */

    /* padding-left: 20px; */
    font-weight: bold;
    margin: 0px;
}

.upper-wrapper > .my-reviews > .my-review-card > .card-body {
    /* border: 1px solid red; */

    /* margin-left: -20px; */
    padding: 0;
}

.upper-wrapper > .my-reviews > .my-review-card > .card-body > blockquote > a {
    font-size: 0.8em;
}

.upper-wrapper > .my-reviews > .my-review-card > .card-body > blockquote > footer {
    font-size: 0.7em;
    text-align: right;
    margin-top: 0px;
}


.lower-wrapper {
    /* border: 1px solid red; */
    max-width: 1080px;
}

.my-likes {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px 10px 10px;
}

.my-likes > h1 {
    /* border: 1px solid red; */

    margin: 10% 0px 20% 0px;
    text-align: center;
    font-size: 2em;
}

.my-likes > .my-likes-card {
    /* border: 1px solid red; */
    
    max-width: 250px;
    margin: 0px 10px 10px 0px;
    box-shadow: 1px 1px 3px rgb(30, 30, 30);
}

.my-likes > .my-likes-card > img {
    width: 98%;
    display: block;
    margin: 2px auto 0px auto;
}

.my-likes > .my-likes-card > .card-body {
    padding: 0px 5px 5px 5px;
}

.my-likes > .my-likes-card > .card-body > .card-title {
    /* border: 1px solid red; */

    margin: 5px auto 0px auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font-weight: 600;
}

.my-likes > .my-likes-card > .card-body > a {
    /* border: 1px solid red; */

    display: block;
    margin: 5px auto 0px auto;
    color: black;
    text-decoration: none;
}

.my-likes > .my-likes-card > .card-body > div > a {
    color: black;
    text-decoration: none;
}

.my-likes > .my-likes-card > .card-body > i {
    width: 20px;
    color: rgba(255, 95, 95, 0.781);
    cursor: pointer;
}