{% extends "base.html" %}


{% block title %} Book {% endblock %}

{% block content %}



    <!--전체 감싸기-->
    <section class="wrap">

        {#    <div class="search_ba">#}
        {#        <input class="input is-success" type="text" placeholder="Success input">#}
        {#        <button onclick="bookSearch_list()" class="button is-primary is-light"><i class="fa fa-search"></i></button>#}
        {#    </div>#}


        <div class="tile is-ancestor">
            <!--이미지-->
            <div class="tile is-4">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <figure class="image">
                            <img class="is-rounded"
                                 src="{{ bookView.image }}">
                        </figure>
                    </article>
                </div>
            </div>
            <!--책정보-->
            <div class="tile is-parent">
                <article class="tile is-child notification ">
                    <div class="book_content">
                        <p class="title">{{ bookView.title }}</p>
                        <p class="subtitle">{{ bookView.author }}</p>

                        <div class="content">
                            <p>{{ bookView.pubdate }}</p>
                            <p>{{ bookView.publisher }}</p>
                            <p>{{ bookView.discount }}</p>
                            <p>{{ bookView.description }}</p>
                        </div>
                        <div class="buttons">
                            <button class="button is-primary is-light" id="reviewbtn">Review</button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
<section class="container is-max-widescreen">

        <article class="media" id="commentshow">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" placeholder="Add a comment..."></textarea>
                    </p>
                </div>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a class="button is-info">Submit</a>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <label class="checkbox">
                                <input type="checkbox"> Press enter to submit
                            </label>
                        </div>
                    </div>
                </nav>
            </div>
        </article>
            <hr>

            <div class="box" id="review_commnetbox">

            </div>
        </section>
    </section>

{% endblock %}

