{% extends "header.html" %}

{% block title %}detail_book{% endblock %}

{% block main %}
<!--전체 감싸기-->
<section class="wrap">
    <!--배너-->
    <!-- <div class="banner" onclick="window.location.href='/'">
    </div> -->

    <!--검색바-->
{#    <div class="search_ba">#}
{#        <input class="input is-success" type="text" placeholder="Success input">#}
{#        <button onclick="bookSearch_list()" class="button is-primary is-light"><i class="fa fa-search"></i></button>#}
{#    </div>#}

    <div class="tile is-ancestor">
        <!--이미지-->
        <div class="tile is-4">
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <figure class="image">
                        <img class="is-rounded"
                             src="{{ bookView.image }}">
                    </figure>
                </article>
            </div>
        </div>


        <!--책정보-->
        <div class="tile is-parent">
            <article class="tile is-child notification ">
                <div class="book_content">
                    <p class="title">{{ bookView.title }}</p>
                    <p class="subtitle">{{ bookView.author }}</p>
                    <hr/>
                    <div class="content">
                        <p>{{ bookView.pubdate }}</p>
                        <p>{{ bookView.publisher }}</p>
                        <p>{{ bookView.discount }}</p>
                        <p>{{ bookView.description }}</p>
                    </div>
                    <div class="buttons">
                        <button class="button is-primary is-light" onclick="reviewPostModal()">Review</button>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <section class="comment">
        <div class="container is-max-desktop">
            <div class="notification is-primary">
                This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
                viewport size.
            </div>
        </div>
        <div class="container is-max-desktop">
            <div class="notification is-primary">
                This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
                viewport size.
            </div>
        </div>
        <div class="container is-max-desktop">
            <div class="notification is-primary">
                This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
                viewport size.
            </div>
        </div>
        <div class="container is-max-desktop">
            <div class="notification is-primary">
                This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
                viewport size.
            </div>
        </div>

    </section>
</section>
{% endblock %}