{% extends "base.html" %}


{% block title %} {% endblock %}


{% block content %}
<nav class="header">
    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='title.png') }}" />
        </a>
    </div>
    <div class="title">
        <p>분 서 갱 유</p>
        <ul class="navmenu">
            {% if token_info == False %}
                <li><a onclick="siginModalPop()">로그인</a></li>
                <li><a href="/user/sign_up">회원가입</a></li>
            {% else %}
                <li><a href="/mypage">마이페이지</a></li>
                <li><a onclick="signout()">로그아웃</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="page">{% block main %} {% endblock %}</div>

{% endblock %}