{% extends "header.html" %}

{% block title %} 마이페이지 {% endblock %}

{% block main %}
<div class="container">
  <div class="upper-wrapper">
      <div class="profile">
        <img class="my-image" src="{{ url_for('static', filename='/profile_default.png') }}" />
        <a>{{ user.username }}</a>
        <button type="button" class="btn btn-outline-secondary" onclick="mypageProfile()">프로필 수정</button>
      </div>
      <div class="divide-line vertical"></div>
      <div class="my-reviews" id="my-reviews">

      </div>
  </div>
  <div class="divide-line horizontal"></div>
  <div class="lower-wrapper">
      <div class="my-likes row" id="my-likes">
        

      </div>
  </div>
</div>

{% endblock %}